<footer class="footer">
  <small>
    This is a styopid app by Raj Negi. All lefts reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_url %></li>
      <li><%= link_to "Contacts", contact_url %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>